# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL= https://nxdrvdedtjxnozfyekqd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54ZHJ2ZGVkdGp4bm96Znlla3FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEyMDg0OTMsImV4cCI6MjA3Njc4NDQ5M30.y1SUXjtfErMICyOTw-ACt0O_1hPky-IZWxrdP5q-_2o
# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=