# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ljlmhmhpdtkfswnhfubc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqbG1obWhwZHRrZnN3bmhmdWJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA1MDAzMDIsImV4cCI6MjA3NjA3NjMwMn0.S7kUomwJ4T45v2BTFyOq0-nrZ9SU3LuOwJGfv5DIdQo

# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=